/* reset defaults */
html, body {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    height: 100%; /* Ensure full height for both elements */
    overflow: hidden; /* Optional: Prevent scrolling if the content is perfectly centered */
}

.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column; /* vertical main axis */
    justify-content: center; /* align along main axis */
    align-items: center; /* align along cross axis */
    background-color: #f0f8ff; /* Light blue background */
    font-family: Arial, sans-serif;
}

.content-row {
    display: flex;
    align-items: center; /* Center items horizontally */
    gap: 10px;
}

h1 {
    color: #007bff;
    font-size: 40px;
}

p {
    color:black;
    font-size: 30px;
}

button, a {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

button:hover, a:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}
